
<main>
  <app-sidenav></app-sidenav>

  <section class="sticks-wall">
    <div class="sticky-container">
      <h1 class="header">Stick Wall</h1>

      <div class="sticky-menu">

        <ul class="sticky-item">

          <li class="sticky-cards" style="background: rgb(253, 242, 179);">
            <div class="sticky-content">
              <p class="sticky-title">Social Media</p>
              <span class="sticky-description"> - Fazer artes para o aniversario da <br> página - Fazer interações nos stories </span>
            </div>
          </li>


          <li class="sticky-cards" style="font-size: 40px; cursor: pointer; align-items: center;" >
            <a> <i class="fa-solid fa-plus"></i> </a>

          </li>

        </ul>
      </div>
    </div>
  </section>


</main>


