main{
  display: flex;
  margin: 3% 0 0 3%;
  overflow: hidden;
}

.header{
  color: var(--color-neutral-40);
  font-size: 35px;
  font-weight: bold;
  margin: 2% 0 0 0;
}

.sticky-container{
  margin: 2% 0 0 3%;
}

.sticky-menu{
  align-self: stretch;
  background: var(--color-bg);
  border-radius: 8px;
  border: 2px solid #AFC4E9;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 754px;
  justify-content: space-between;
  margin: 2% 0 0 0;
  width: 1038px;
}

.sticky-item{
  display: flex;
  margin: 0 0 2% 3%;
}

.sticky-cards{
  align-self: stretch;
  background-color: var(--color-neutral-50);
  border-radius: 8px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 300px;
  justify-content: center;
  margin: 3% 0 2% 1%;
  width: 300px;
}

/* .sticky-cards:last-child {
  flex-basis: 100%;
} */

.sticky-content{
  margin: 0 0 0 4%;
}

.sticky-title{
  color: var(--color-neutral-40);
  font-size: 24px;
  font-weight: 600;
  margin: 8% 0 8% 0;
}

.sticky-description{
  color: var(--color-neutral-20);
  font-size: 15px;
  text-align: center;
}





