
<main>
  <app-sidenav></app-sidenav>

  <section class="sticks-wall">
    <div class="sticky-container">
      <h1 class="header">Sticky Wall</h1>

      <ul class="sticky-menu">

        <li class="sticky-cards" style="background: rgb(253, 242, 179);">
          <div class="sticky-content">
            <p class="sticky-title">Social Media</p>
            <span class="sticky-description"> - Fazer artes para o aniversario da página - Fazer interações nos stories </span>
          </div>
        </li>

        <li class="sticky-cards" style="background: rgb(253, 242, 179);">
          <div class="sticky-content">
            <p class="sticky-title">Social Media</p>
            <span class="sticky-description"> Would need time to get insights (goals, personals, budget, audits), but after, it would be good to focus on assembling my team (start with SEO specialist, then perhaps an email marketer?). Also need to brainstorm on tooling. </span>
          </div>
        </li>

        <li class="sticky-cards" style="background: rgb(253, 242, 179);">
          <div class="sticky-content">
            <p class="sticky-title">Social Media</p>
            <span class="sticky-description"> - Fazer artes para o aniversario da <br> página - Fazer interações nos stories </span>
          </div>
        </li>

       
        <li class="sticky-cards" style="font-size: 40px; cursor: pointer; align-items: center; filter: none;" >
          <a> <i class="fa-solid fa-plus"></i> </a>
        </li>

      </ul>
    </div>
  </section>


</main>


