<header>
  <aside class="sidebar" id="sidebar" *ngIf="!showEdit">
    <div class="sidenav">

      <div class="header">
        <h1>Task</h1>

        <a class="closeEdit" (click)="toggleEdit()">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>

      <!-- ----------------- CONTENT TASK AREA --------------- -->

      <div class="info-task">

        <form action="">
          <div class="input-field">
            <label for="">Title</label>
            <input type="text">

            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

        </form>


        <section class="tags">
          <h3 class="header-section">Tags</h3>
        </section>



        <div class="buttons">
          <a href="#" class="btn-delete">Delete task</a>
          <a href="#" class="btn-update"> Save changes</a>
        </div>


      </div>



    </div>
  </aside>

</header>



