<main>
  <app-sidenav (searchChanged)="filterText($event)"></app-sidenav>

  <section class="today-screen" id="today-screen">
    <div class="today-container">

      <div class="header">
        <h1 class="title">Today</h1>
        <span class="badge">{{mostrarTotalTarefas()}}</span>
      </div>


      <input class="text-area" type="text" [(ngModel)]="inputText" (keydown.enter)="newTask();"  placeholder="+ Add new task" #adcTask>

      <ul>
        <li class="type-text" *ngFor="let listTask of filterTasks">
          <div class="task">

            <div class="title-task">
              <input type="checkbox" [(ngModel)]="listTask.completo">
              <span [ngClass]="{'task-checked': listTask.completo}">{{listTask.title}}</span>
            </div>


            <div class="sub-itens">
              <div *ngIf="listTask.date" class="data-box">
                <i class="fa-regular fa-calendar calendar-icon"></i>
                <p class="date-choose">{{listTask.date}}</p>
              </div>

              <div class="tags">
                oi
              </div>

            </div>

          </div>



          <a (click)="atualizarTask(listTask)" class="btn-edit">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============= MODAL ATUALIZAR ================== -->
  <ng-container *ngIf="modal && taskEditada">

    <div class="modal" *ngIf="selectedTask" #colorCards.color>
      <div class="header-box">
        <a class="btn-close-modal" (click)="showModal()" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></a>
      </div>

      <form (ngSubmit)="enviarTaskAtualizada()" [formGroup]="homeForm">
        <div class="input-field">
          <label for="">Task</label>
          <input type="text" class="form-control" formControlName="titulo"  [(ngModel)]="selectedTitle"  placeholder="Add a title" required>

          <!-- <label for="">Description</label>
          <textarea class="form-control" cols="20" rows="5" formControlName="descricao"  placeholder="Add a description" maxlength='1000' minlength='100' required></textarea> -->


          <div class="date-area">
            <p class="title-area">Due date</p>
            <input class="data" type="date" style="background: none;" formControlName="data" [(ngModel)]="selectedDate">
          </div>

          <div class="date-area">
            <p class="title-area">Tags</p>

            <div class="buttons-tags">
              <a href="#" class="btn-tag"> Tag 1</a>
              <a href="#" class="btn-add"> <i class="fa-solid fa-plus"></i> Add Tag</a>
            </div>
          </div>

        </div>


        <div class="buttons" style="justify-content: space-evenly;">
          <a class="btn-delete" (click)="showModalDelete()"> <i class="fa-solid fa-xmark"></i> Delete task</a>
          <a class="btn-update" (click)="enviarTaskAtualizada()"> <i class="fa-solid fa-check"></i> Save changes</a>
        </div>
      </form>
    </div>
    <div class="overlay"></div>
  </ng-container>
</main>

<!-- ============= MODAL DELETAR - POP UP ================== -->
<ng-container *ngIf="modalDelete">

  <div class="modalDelete">

    <h2 class="alert-message">Delete this task?</h2>
    <p style="color: var(--color-var-20); text-align: center;"> Before deleting, make sure you <br> actually want to delete it.</p>

    <div class="buttons">
      <a class="btn-delete" (click)="showModalDelete()"> <i class="fa-solid fa-xmark"></i> No</a>
      <a class="btn-update" (click)="apagarTask()"> <i class="fa-solid fa-check"></i> Yes</a>
    </div>
  </div>
  <div class="overlay"></div>
</ng-container>






