<main>
  <app-sidenav (searchChanged)="filterText($event)"></app-sidenav>

  <section class="today-screen" id="today-screen">
    <div class="today-container">

      <h1 class="header">Today</h1>

      <input class="text-area" type="text"  [(ngModel)]="inputText" (keydown.enter)="newTask();"  placeholder="+ Add new task" #adcTask>

      <ul>
        <li class="type-text" *ngFor="let listTask of filterTasks">
          <div class="task">
            <input type="checkbox" [(ngModel)]="listTask.completo">
            <span [ngClass]="{'task-checked': listTask.completo}">{{listTask.title}}</span>
          </div>

          <a (click)="atualizarTask(listTask)" class="btn-edit">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <ng-container *ngIf="modal && taskEditada">

    <div class="modal" *ngIf="selectedTask" #colorCards.color>
      <div class="header-box">
        <h1 class="header-edit">Task</h1>
        <a class="btn-close-modal" (click)="showModal()" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></a>
      </div>

      <form >
        <div class="input-field">
          <label for="">Title</label>
          <input type="text" class="form-control" formControlName="titulo"  placeholder="Add a title" required>

          <label for="">Description</label>
          <textarea class="form-control" cols="20" rows="5" formControlName="descricao"  placeholder="Add a description" maxlength='1000' minlength='100' required></textarea>
        </div>


        <div class="buttons" style="justify-content: space-evenly;">
          <a class="btn-delete" (click)="apagarTask()">Delete task</a>
          <a class="btn-update" (click)="enviarTaskAtualizada()">Save changes</a>
        </div>
      </form>
    </div>
    <div class="overlay"></div>
  </ng-container>
</main>





