/* You can add global styles to this file, and also import other style files */
:root{
  --color-bg: #A1B8D7;
  --color-light-blue: #f6f6f6;
  --color-neutral-10: #ffff;
  --color-neutral-20: #444444;
  --color-neutral-30: #525252;
  --color-neutral-40: #212529;
  --color-neutral-50: #EBEBEB;
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
  background: var(--color-bg);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

li, a{
  text-decoration: none;
  list-style: none;
}




